@model AccountingWebsite.Models.CompanyData

@{
    ViewData["Title"] = "Revenues";
}

<link rel="stylesheet" href="~/css/company/transaction.css" asp-append-version="true" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Company/transaction.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>Revenue Transactions</title>
</head>
<body>
    <div class="company-header">
        <form asp-action="Index" asp-controller="Company">
            <input type="hidden" name="start" value="@(Model.quarter.StartDate)" />
            <input type="hidden" name="end" value="@(Model.quarter.EndDate)" />
            <button type="submit">Back to all data</button>
        </form>
        <div class="company-info">
            <h1>Revenue Transactions</h1>
        </div>
        <div class="company-quarter">
            <form asp-action="UpdateQuarter" asp-controller="Company" method="post">
                <input type="hidden" name="quarter" value="@(Model.quarter.StartDate?.AddMonths(-3))" />
                <input type="hidden" name="page" value="Revenue" />
                <button type="submit">Update Quarter</button>
            </form>
            <p>Quarter: Q1 2024</p>
            <form asp-action="UpdateQuarter" asp-controller="Company" method="post">
                <input type="hidden" name="quarter" value="@(Model.quarter.StartDate?.AddMonths(3))" />
                <input type="hidden" name="page" value="Revenue" />
                <button type="submit">Update Quarter</button>
            </form>
        </div>
    </div>
    <button class="createTransactionButton" onclick="openCreateModal(1)">Create Expense Transaction</button>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Transaction Date</th>
                <th>Description</th>
                <th>Edit or Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.QuarterlyTransactions.Where(t => t.TransactionType == 1))
            {
                <tr>
                    <td>@transaction.Amount</td>
                    <td>@transaction.TransactionDate.ToString("yyyy-MM-dd")</td>
                    <td>@transaction.Description</td>
                    <td>
                        <a href="#" onclick="openEditModal(@transaction.Id, @transaction.Amount, '@transaction.TransactionDate.ToString("yyyy-MM-dd")', '@transaction.Description')">Edit</a>
                        <a href="#" onclick="openDeleteModal(@transaction.Id, @transaction.Amount, '@transaction.TransactionDate.ToString("yyyy-MM-dd")', '@transaction.Description')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <div id="overlay">
        <div class="transactionModal" id="transactionModal">
            
        </div>
    </div>
</body>
</html>